---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Skills from "../components/Skills.astro";
import Work from "../components/Work.astro";
import LetsWorkTogether from "../components/LetsWorkTogether.astro";
import Footer from "../components/Footer.astro";
---

<BaseLayout title="7EREK — Portfolio">
  <main>
    <Hero />
    <About />
    <Work />
    <Skills />
    <LetsWorkTogether />
  </main>
  <Footer />
</BaseLayout>
